/PSWinCom-Gateway-MoDrExample-CSharp/PSWinCom.Samples.MODRwithDotNetClient/bin
/PSWinCom-Gateway-MoDrExample-CSharp/PSWinCom.Samples.MODRwithDotNetClient/obj/Debug
/PSWinCom-Gateway-SimpleSendSmsExample-CSharp/PSWinComGatewaySendSMSConsoleApp/bin/Debug
/PSWinCom-Gateway-SimpleSendSmsExample-CSharp/PSWinComGatewaySendSMSConsoleApp/obj/Debug
/PSWinCom-Gateway-SimpleSendSmsExample-CSharp/*.suo
